@import "../../resources/styles/colors";

.product-page {
  padding: 7rem 10rem 11rem;
}

.info-section {
  text-align: left;
  height: 100%;
  padding-top: 1rem;
  padding-left: 2rem;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.amount-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.amount-selector {
  display: flex;
}

.amount {
  width: 3rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  margin-top: auto;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-button {
  width: 100%;
  height: 3rem;
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.product-amount {
  size: 0.5rem;
}

.btn-primary {
  border-color: transparent;
}

.btn-secondary {
  border-color: transparent;
}

.btn-primary:hover {
  border-color: transparent;
}

.btn-secondary:hover {
  border-color: transparent;
}