@import "../../resources/styles/colors";

.info-section {
  text-align: left;
  height: 100%;
  padding-top: 1rem;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.amount-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.amount-selector {
  display: flex;
}

.amount {
  width: 3rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  margin-top: auto;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-button {
  width: 100%;
  height: 3rem;
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.product-amount {
  size: 0.5rem;
}

.btn-primary {
  border-color: transparent;
}

.btn-secondary {
  border-color: transparent;
}

.btn-primary:hover {
  border-color: transparent;
}

.btn-secondary:hover {
  border-color: transparent;
}

.item-added-header {
  display: flex;
  justify-content: space-between;
}

.item-added-close-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.item-added-text {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.item-added-image {
  margin-bottom: 1rem;
}

.item-added-button {
  width: 100%;
  color: #FFFFFF;
}

.product-page {
  padding: 0 9rem;
  margin-bottom: 10rem;
  margin-top: 1rem;

  .navbar {
    margin-bottom: 6rem;
  }
}

.product-description {
  margin-bottom: 1rem;
}

@media all and (max-width: 600px) {
  .product-page {
    padding: 5rem 0;
    margin: auto;
  }

  .row {
    margin: auto;
  }

  .navbar {
    display: none;
  }
}

