@import "../../resources/styles/colors";

.custom-button {
  background-color: transparent;
  border: transparent;
  color: #303030;
  font-size: 1rem;
  font-weight: 700;
}

.custom-button:hover {
  color: #606060;
  cursor: pointer;
}

.custom-button:active {
  color: #606060;
  cursor: pointer;
  text-decoration: underline;
}

button:focus {
  outline: 0;
}

.btn-success {
  background-color: $secondary-color;
  text-decoration: none;
  border-color: transparent;
}

.btn-success:focus {
  background-color: $secondary-shade;
  text-decoration: none;
  border-color: transparent;
}

.btn-success:hover {
  background-color: $secondary-shade;
  text-decoration: none;
  border-color: transparent;
}

.btn-success:active {
  background-color: $secondary-shade;
  text-decoration: none;
  border-color: transparent;
}

.button-underline {
  text-decoration: underline;
}